* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    font-size: 13px;
    font-weight: 700;
}

.gradient-wrapper {
    background-image: linear-gradient(to left top,
            blue,
            red);
    height: 60vh;
    border-radius: 5%;
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(5px 15px 15px black);
}

.container {
    width: 96%;
    height: 96%;
    background-color: tomato;
    border-radius: 2%;
    color: transparent;
}

.screen {
    width: 90%;
    height: 25%;
    background-color: aliceblue;
    color: black;
    font: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
}

.numpad {
    width: 90%;
    height: 60%;
    margin: 2% auto 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}


.line {
    display: flex;
    width: 100%;
    justify-content: center;
}


.button {
    background-color: #0a0a23;
    color: #fff;
    border-radius: 15%;
    max-height: 35px;
    max-width: 30px;
    margin: 5px auto;
    padding: 5px 2.5em;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid rgb(49, 73, 153);
}


.button2 {
    max-width: 190px;
    flex-grow: 1;
    margin-right: 0.4em;
}

.button:hover {
    transform: translateY(-2px);
}